#lean_overlay {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#modal {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	padding: 4em;
	box-sizing: border-box;
	color: #000;
}

#modal p {
	font-size: 32px;
	text-align: center;
}

#modal button {
	display: block;
	margin: 0 auto;
	font-size: 32px;
	padding: 0.5em 1em;
}

#timer {
	border: 2px solid #eee;
	display: block;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	margin: 0 auto 1em auto;
	line-height: 2;
	font-size: 3em;
}

body.slideshowReady {
	background-color: #000;
	background-image: none;
	margin: 0;
	padding: 0;
	color: #eee;
	display: block;
}

#kioskSlideshow li {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	list-style: none;
	display: block;
	margin: 0;
	opacity: 0;
}

#kioskSlideshow li.fadeOut {
	opacity: 0;
}

#kioskSlideshow li.fadeIn {
	opacity: 1;
}
